<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9714Tosysw2dIDk08F2WLFtGN6Y8pi2E</string>
	<key>GCM_SENDER_ID</key>
	<string>518415297737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.englishLearningApp</string>
	<key>PROJECT_ID</key>
	<string>english-learning-app-247f9</string>
	<key>STORAGE_BUCKET</key>
	<string>english-learning-app-247f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518415297737:ios:3e83102a59c61bcfffb118</string>
</dict>
</plist>